{% extends 'base.html' %}
    {% block content %}
    <div class="container">
      <div class="container-fluid">
          <div class="row">
              <div class="">
                <p>My name is {{ user[0].Username }}, I am a student of {{ user[1].School }} </p>           

              </div>
              <div class="">
                {% for article in articles %}
                <div><p>{{ article.Author.Username }} published his work in {{ article.journal}} in the year 
                  {{ article.Year}}
                </p></div>
                  {% endfor %}
              </div>
          </div>
        </div>
      </div>  
    {% endblock %} 
    



